.neon-text-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  &__icon {
    width: 10%;
    // display: flex;
    // aspect-ratio: 1;

    &__image {
      width: 80%;
      //   height: auto;
      object-fit: contain;
      object-position: center;
    }
  }

  &__text {
    color: rgb(74, 174, 255);
    letter-spacing: 2px;
  }
}
